// Fonts
$font-primary : 'Open Sans';
$font-secondary : 'museo_sans500';

// Font sizes
$base-font-size: 16px;

//Colors
$color-primary: #454850;
$color-secondary: #5dc0c9;
$color-top-nav: #575656;
$color-teritiary: #5b6172;

$bg-primary: #FFF;
$bg-secondary: #f1f2f5;
$bg-footer: #454850;
$bg-btn: #5fc0c3;


//Layout
$actual-width: 1170;
